.cache/
asm/
assets/
ctx/
disc/*
build/
linker/
tools/pcsx-redux-tools/
.vscode/
.idea/
__pycache__/
permuter/
nonmatchings/
expected/
notes/
.venv/
objdiff.json

# macOS Finder junk
.DS_Store
._.DS_Store
