.cache/
asm/
assets/
ctx/
disc/cdrom.dat
build/
game/
lib/
linker/
tools/pcsx-redux-tools/
tools/objdiff/config.yaml
tools/gh-issue-sync/config.toml
tools/scripts/generate_compile_commands.conf
.vscode/
.idea/
__pycache__/
permuter/
nonmatchings/
expected/
notes/
.venv/
compile_commands.json
objdiff.json
todo.md


# macOS Finder junk
.DS_Store
._.DS_Store
