.cache/
asm/
assets/
ctx/
disc/*
build/
lib/
linker/
tools/pcsx-redux-tools/
tools/objdiff/config.yaml
tools/gh-issue-sync/config.toml
.vscode/
.idea/
__pycache__/
permuter/
nonmatchings/
expected/
notes/
.venv/
objdiff.json
todo.md


# macOS Finder junk
.DS_Store
._.DS_Store
