[submodule "tools/maspsx"]
	path = tools/maspsx
	url = https://github.com/mkst/maspsx
[submodule "tools/m2c"]
	path = tools/m2c
	url = https://github.com/matt-kempster/m2c
[submodule "tools/psxlib-objdumper"]
	path = tools/psxlib-objdumper
	url = https://gist.github.com/7b3160f57c8855786d9cb0e9a40bf5c0.git
[submodule "tools/decomp-permuter"]
	path = tools/decomp-permuter
	url = https://github.com/simonlindholm/decomp-permuter
