[submodule "tools/maspsx"]
	path = tools/maspsx
	url = https://github.com/mkst/maspsx
[submodule "tools/m2c"]
	path = tools/m2c
	url = git@github.com:matt-kempster/m2c.git
[submodule "tools/psxlib-objdumper"]
	path = tools/psxlib-objdumper
	url = https://gist.github.com/7b3160f57c8855786d9cb0e9a40bf5c0.git
